src/
node_modules/
config.json
.DS_Store
.vscode
.idea
__tests__/
__mocks__/
coverage/
rcktship.js
.travis.yml
tsconfig.json

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log
